.latest-articles{
    background-color:#fafafa;
    width: 100vw;
    height: 80vh;
    
        .section5{
            display: flex;
            align-items: center;
            height: 150px;
            margin-left: auto;
            margin-right: auto;
            width: 75%;
        }

        .article {
            display: flex;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
            width: 75%;
            padding-top: 0;
            box-sizing: border-box;

                .card {
                    background: #FFFFFF;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    box-sizing: border-box;
                    width: 22%;
                    border-radius: 5px;                 
            
                    img {
                        width: 100%;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        height: 200px;
                    }
                }
        }
    }